<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jagadish Poudel</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 0; background: #f0f0f0;}
        header, footer { background: #4CAF50; color: white; text-align: center; padding: 10px;}
        nav a { margin: 0 10px; color: white; text-decoration: none; }
        main { max-width: 800px; margin: 24px auto; padding: 10px; background: white;}
    </style>
</head>
<body>
    <header>
    <h1>{{name}}</h1>
    <nav>
        <a href="">Home</a>
        <a href="skills">Skills</a>
    </nav>
</header>

<main>
    <section id="skills">
        <h2>Flutter</h2>
        <p>A Senior Flutter Developer.</p>
        <h2>Django</h2>
        <p>A Django Beginner.</p>
    </section>
</main>
<footer>
    <p>&copy; 2026 Jagadish Poudel</p>
</footer>
</body>
</html>